@model WhisperLeaderboard.Models.Dto.EditDto
@using WhisperLeaderboard.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin leaderboard</title>
</head>
<body>

    <p>New Leaderboard size</p>
    @using (Html.BeginForm("resize", "leaderboard", FormMethod.Post))
    {
        @Html.TextBox("Position", 0)
        <input type="submit" value="Resize" />
    }
    <hr />

    <p>New entry</p>
    @using (Html.BeginForm("NewEntry", "leaderboard", FormMethod.Post))
    {
        <table>
            <tr>
                <td> Demandeur </td>
                <td> Agent </td>
                <td> Pointage </td>
            </tr>
            <tr>
                <td> @Html.TextBox("Name1", "") </td>
                <td> @Html.TextBox("Name2", "") </td>
                <td> @Html.TextBox("Score", "") </td>
                <td> <input type="submit" value="Add" /></td>

            </tr>
        </table>
    }
    <hr />
    <div>
        <h4>Leaderboard</h4>
    </div>
    <table>
        <tr>
            <td> Position </td>
            <td> Demandeur </td>
            <td> Agent </td>
            <td> Pointage </td>
        </tr>
        @{
            List<Entry> entries = ViewBag.Entries;
            @for (int i = 0; i < entries.Count; i++)
            {
        <tr>
            @using (Html.BeginForm("update", "leaderboard", FormMethod.Post))
            {
                <td> @(i + 1) </td>
                @Html.Hidden("Position", i + 1, new { id = "updatePos" })
                <td> @Html.TextBox("Name1", entries[i].Name1) </td>
                <td> @Html.TextBox("Name2", entries[i].Name2) </td>
                <td> @Html.TextBox("Score", entries[i].Score) </td>
                <td> <input type="submit" value="Update" /></td>

            }

            @using (Html.BeginForm("remove", "leaderboard", FormMethod.Post))
            {
                @Html.Hidden("Position", i + 1, new { id = "removePos" })
                <td> <input type="submit" value="Remove" /></td>
            }
        </tr>
            }
        }
    </table>
    <hr />
</body>
</html>
