@model WhisperLeaderboard.Models.Dto.EditDto
@using WhisperLeaderboard.Models;
@using WhisperLeaderboard.Models.Dto.Game;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin leaderboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var socket = io('https://whisper-megagenial.us-east-1.elasticbeanstalk.com:8080');

        function newGame() {
            socket.emit('new');
        }

    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>

        function endGame(Success) {

            var date = new Date();
            date.setHours(date.getHours() - 5);

            var params = {}
            params['Success'] = Success;
            params['EndTime'] = date.toJSON();

            jQuery.ajax({
                type: 'post',
                url: '/game/end',
                data: JSON.stringify(params),
                contentType: 'application/json'
            });
        }
    </script>
</head>
<body>

    <p>New Leaderboard size</p>
    @using (Html.BeginForm("resize", "leaderboard", FormMethod.Post))
    {
        @Html.TextBox("Position", 0)
        <input type="submit" value="Resize" />
    }
    <hr />

    <p>New entry</p>
    @using (Html.BeginForm("NewEntry", "leaderboard", FormMethod.Post))
    {
        <table>
            <tr>
                <td> Demandeur </td>
                <td> Agent </td>
                <td> Pointage </td>
            </tr>
            <tr>
                <td> @Html.TextBox("Name1", "") </td>
                <td> @Html.TextBox("Name2", "") </td>
                <td> @Html.TextBox("Score", "") </td>
                <td> <input type="submit" value="Add" /></td>

            </tr>
        </table>
    }
    <hr />
    <div>
        <h4>Leaderboard</h4>
    </div>
    <table>
        <tr>
            <td> Position </td>
            <td> Demandeur </td>
            <td> Agent </td>
            <td> Pointage </td>
        </tr>
        @{
            List<Entry> entries = ViewBag.Entries;
            @for (int i = 0; i < entries.Count; i++)
            {
                <tr>
                    @using (Html.BeginForm("update", "leaderboard", FormMethod.Post))
                    {
                        <td> @(i + 1) </td>
                        @Html.Hidden("Position", i + 1, new { id = "updatePos" + i })
                        <td> @Html.TextBox("Name1", entries[i].Name1) </td>
                        <td> @Html.TextBox("Name2", entries[i].Name2) </td>
                        <td> @Html.TextBox("Score", entries[i].Score) </td>
                        <td> <input type="submit" value="Update" /></td>

                    }

                    @using (Html.BeginForm("remove", "leaderboard", FormMethod.Post))
                    {
                        @Html.Hidden("Position", i + 1, new { id = "removePos" })
                        <td> <input type="submit" value="Remove" /></td>
                    }
                </tr>
            }
        }
    </table>
    <hr />
    <h4>End Game</h4>
    <input type="submit" onclick="endGame(true)" value="Success" />
    <input type="submit" onclick="endGame(false)" value="Failure" />
    <hr />
</body>
</html>
