@model WhisperLeaderboard.Models.Leaderboard
@using WhisperLeaderboard.Models.Dto.Game;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>GetLeaderboard</title>
    <style>

        body {
            background-color: #2D4343;
            font-family: 'Raleway', sans-serif;
            overflow: hidden;
        }
        #header {
            position: relative;
            top: 10px;
            left: 25px;
        }
        h1 {
            color: #FFFFFF;
            font-size: 100px;
            margin-top: 0px;
        }

        h2 {
            text-align: right;
            padding-right: 10px;
            margin: 0px;
            font-size: 36px;
            color: #FFFFFF;
        }

        #wrapper {
            margin: 0 auto;
            width: 75%;
        }

        #wrapper #allTable {
            width: 100%;
            table-layout: fixed;
            font-size: 2em;
        }
        #wrapper #allTable .tdTableAlign {
            width: 50%;
            padding: 12px;
        }

        .tableContainer {
            background-color: #FFFFFF;
            height: 350px;
            border-radius: 7px;
        }

        .tableContainer td {
            padding: 14px !important;
        }

            .score {
                text-align: right;
                font-weight: bold;
            }

        .imageWHISP {
            position: absolute;
            bottom: 0;
            right: 40px;
            transform: scale(0.7);
        }

        .imageCoveo {
            position: absolute;
            bottom: 25px;
            left: 25px;
            transform: scale(0.5);
        }
    </style>
</head>
<body>
    <div id="header" align="left">
        <h1>Classement</h1>
    </div>
    <div id="wrapper">
        <table id="allTable">
            <tbody>
                @{int j = 0;}
                @{foreach (GameMode mode in Enum.GetValues(typeof(GameMode)))
                    {
                        if (j % 2 == 0)
                        {
                            @: <tr>
                            }

                            <td class="tdTableAlign">
                                <div class="content">
                                    <div align="left" style="float:left;">
                                        <h2>@GameModeToPrettyName.GetPrettyName(mode)</h2>
                                    </div>
                                    <div align="center">
                                        <h2>Temps</h2>
                                    </div>
                                    <div class="tableContainer" id="mytable">
                                        <table class="table">
                                            @{int i = 1;}
                                            @foreach (var entry in Model.GetTopEntries(mode))
                                            {
                                                <tr>
                                                    <td scope="row">@i.</td>
                                                    <td>@entry.Name1</td>
                                                    <td>@entry.Name2</td>
                                                    <td class="score">@entry.Score</td>
                                                </tr>
                                                i++;
                                            }
                                        </table>
                                    </div>
                                </div>
                            </td>

                            if (j % 2 == 5)
                            {
                            @: </tr>
                        }

                        j++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div id="footer">
        <div class="imageCoveo">
            <img src="~/images/coveo.png" />
        </div>
        <div class="imageWHISP">
            <img src="~/images/WHISPP.png" />
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/leaderboard.js"></script>